" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75

" Find more examples here: https://jb.gg/share-ideavimrc
"
" Plugins I prefer to use: 
" - IdeaVim
" - Mario Progress Bar
" - AceJump
" - EasyMotion


" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window
set scrolloff=5

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
set visualbell
set noerrorbells
set NERDTree
" Plug 'justinmk/vim-sneak'
Plug 'machakann/vim-highlightedyank'
Plug 'easymotion/vim-easymotion'
" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t

" Press `S` in normal mode to activate AceJump mode before the caret
nmap S <Action>(AceBackwardAction)
" Press `s` in normal mode to activate AceJump mode after the caret
nmap s <Action>(AceForwardAction)
" Press `f` to activate AceJump
map f <Action>(AceAction)
" Press `F` to activate Target Mode
map F <Action>(AceTargetAction)
" Press `g` to activate Line Mode
map s <Action>(AceLineAction)

map <Space> <Leader>
map D <Action>(EditorDuplicate)
map J <Action>(MoveLineDown)
map K <Action>(MoveLineUp)
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>o <Action>(FileStructurePopup)
map R <Action>(RenameElement)
map <leader>t <Action>(SelectInProjectView)
map nc <Action>(VcsShowNextChangeMarker)
map nn <Action>(VcsShowPrevChangeMarker)
map gi <Action>(ReSharperGotoImplementation)
map H <Action>(QuickJavaDoc)
map <leader>h <Action>(ShowHoverInfo)
map gb <Action>(Git.Branches)
